# Google AI StudioなどでGemini APIキーを取得し、以下に設定してください
# このファイル自体はサンプルなのでGitにコミットしてOK
# 実際の値は「.env」という別ファイルにコピーして記載し、.envはGit管理対象外にすること
GEMINI_API_KEY=your_api_key_here
DATABASE_URL=postgresql://postgres:postgres@db:5432/ai_code_review
# python -c "import secrets; print(secrets.token_hex(32))"で生成する。
JWT_SECRET_KEY=好きな長いランダム文字列に変更してください